<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nam website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navigation-bar">
        <header>Nguyen Thien Nam</header>
        <div class="navigation-buttons">
            <button onclick="alert('hi')" class="primary">About</button>
            <button onclick="alert('hi')" class="primary">Social</button>
            <button onclick="alert('hi')" class="primary">Other links</button>
        </div>
    </div>
    <div class="content">
        <button onclick="showModal(true)" class="primary">click for modal</button>
    </div>
    <div class="modal" id="Hello_modal">Hello!</div>
</body>

</html>