<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nam website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navigation-bar">
        <header>Nguyen Thien Nam</header>
        <div class="navigation-buttons">
            <button onclick="alert('hi')" class="primary">About</button>
            <button onclick="alert('hi')" class="primary">Social</button>
            <button onclick="alert('hi')" class="primary">Contact</button>
        </div>
    </div>
    <div class="content">
        <h1 class="hero-heading">Nguyen Thien Nam.</h1>
        <button onclick="(async () => {await setModal('productions', 'visible', '50px 50px', (modal) => {
            setTimeout(() => modal.style.visibility = 'hidden', 2000)
        })})()" class="primary" style="grid-column: 2;">My productions</button>
        <div class="modal" id="productions">My productions</div>
    </div>
</body>
<script src="script.js"></script>

</html>