@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    background-color: black;
}

.navigation-bar {
    background-color: rgb(0, 0, 0);
    height: fit-content;
    position: fixed;
    bottom: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: 0px 10px;
    background-image: linear-gradient(white -180%, black, white 280%);
}

.navigation-bar:hover {
    background-image: linear-gradient(white -180%, rgba(21, 21, 21, 0.04), white 280%);
}

.content {
    color: white;
    padding: 0px 202px;
    padding-top: 100px;
}

.navigation-bar header {
    font-weight: 1000;
    letter-spacing: 2px;
    transform: translateY(150%);
    text-shadow: 0px 0px 10px white;
    float: left;
    color: white;
    padding: 0px 10px;
    background-color: transparent;
}

.navigation-bar header:hover {
    text-shadow: 0 0 15px white;
}

.navigation-buttons {
    float: right;
}

button.primary {
    letter-spacing: 2px;
    background-color: rgb(53, 53, 53);
    color: white;
    height: 70px;
    width: 150px;
    text-wrap: balance;
    font-size: large;
    text-align: center;
    border: none;
    box-shadow: 0px 0px rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: 0px 0px 3px rgb(236, 236, 236);
}

button.primary:hover {
    opacity: 0.95;
}

button.primary:active {
    opacity: 0.90;
}

.modal {
    color: white;
    background-color: rgb(48, 46, 46);
    height: 150px;
    width: 200px;
    text-align: center;
    padding-top: 20px;
}
.navigation-buttons button {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}